[Desktop Entry]
Categories=GNOME;GTK;Utility;System;TerminalEmulator;
Comment=Use the command line
Comment[am]=የ ትእዛዝ መስመር ይጠቀሙ
Comment[ar]=إستعمال سطر الأوامر
Comment[cs]=Používejte příkazový řádek
Comment[da]=Brug kommandolinien
Comment[de]=Kommandozeile benutzen
Comment[de_DE]=Kommandozeile benutzen
Comment[el_GR]=Χρησιμοποιήστε τη γραμμή εντολών
Comment[en]=Use the command line
Comment[es]=Uso de linea de comando
Comment[es_419]=Usar la linea de comandos
Comment[es_AR]=Usar linea de comandos
Comment[es_CL]=Utilice la línea de comandos
Comment[es_ES]=Usar linea de comandos
Comment[es_PE]=Utilice la línea de comandos
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[he]=השתמש בשורת פקודה
Comment[hu]= A parancssor használata
Comment[hy]=Օգտագործել հրամանների տողը
Comment[id_ID]=Gunakan perintah text
Comment[it]=Usa linea di comando
Comment[ja]=コマンドラインを使用する
Comment[ms]=gunakan garis perintah
Comment[nl]=Opdrachtprompt gebruiken
Comment[pl_PL]=Użyj wiersza poleceń
Comment[pt_BR]=Usar a linha de comando
Comment[pt_PT]=Utilizar o terminal
Comment[ro]=Folosește linia de comandă
Comment[ru]=Использование командной строки
Comment[sk]=Používajte príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[tr]=Komut satırı kullan
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用命令列
Comment[zh_TW]=使用命令列介面
Exec=deepin-terminal
Icon=deepin-terminal
Keywords=shell;prompt;command;commandline;
Keywords[an]=enterprite ;indicador;comando;linia de comandos;
Keywords[ar]=طرفية;صدفة;سطر;أوامر;
Keywords[as]=শ্বেল;প্ৰমপ্ট;কমান্ড;কমান্ডশাৰী;
Keywords[be]=абалонка;загадны радок;загад;
Keywords[ca@valencia]=intèrpret d'ordes;indicador;orde;línia d'ordes;
Keywords[ca]=intèrpret d'ordres;indicador;ordre;línia d'ordres;
Keywords[cs]=shell;prompt;výzva;příkaz;příkazový řádek;příkazová řádka;
Keywords[da]=shell;skal;prompt;kommando;kommandolinje;
Keywords[de]=Shell;Prompt;Befehl;Befehlszeile;
Keywords[el]=κέλυφος;προτροπή;εντολή;γραμμή εντολών;
Keywords[en_GB]=shell;prompt;command;commandline;
Keywords[es]=shell;prompt;comando;línea de comandos;
Keywords[et]=shell;kest;käsuviip;käsk;käsurida;terminal;
Keywords[eu]=shell;gonbitea;komandoa;komando-lerroa;
Keywords[fa]=پوسته;prompt;فرمان;خط‌فرمان;
Keywords[fi]=shell;prompt;command;commandline;komento;kehote;cli;
Keywords[fr]=shell;prompt;commande;ligne de commande;
Keywords[gl]=shell;consola;orde;liña de ordes;
Keywords[gu]=શેલ;પ્રોમ્પ્ટ;આદેશ;આદેશવાક્ય;
Keywords[he]=מעטפת;פקודה;שורת פקודה;שורה;מסך שחור;חלון דוס;
Keywords[hi]=शेल;प्रांप्ट;कमांड;कमांडलाइन;
Keywords[hu]=parancsértelmező;prompt;parancs;parancssor;
Keywords[id]=shell;prompt;perintah;baris perintah;
Keywords[it]=shell;prompt;terminale;rigadicomando;comando;
Keywords[kn]=ಶೆಲ್;ಪ್ರಾಂಪ್ಟ್‍;ಆದೇಶ;ಆದೇಶಸಾಲು;
Keywords[ko]=shell;셸;쉘;prompt;프롬프트;command;명령;commandline;명령행;커맨드;라인;
Keywords[lt]=apvalkalas;eilutė;komanda;komandų eilutė;
Keywords[lv]=čaula;uzvedne;komanda;komandrinda;
Keywords[ml]=shell;prompt;command;commandline;
Keywords[mr]=शेल;प्रॉम्प्ट;कमांड;कमांडलाइन;
Keywords[nb]=skall;kommando;kommandolinje;
Keywords[nl]=shell;prompt;commando;opdrachtregel;cli;commandline;terminal;
Keywords[or]=ସେଲ;ପ୍ରମ୍ପ୍ଟ;ନିର୍ଦ୍ଦେଶ;ନିର୍ଦ୍ଦେଶ ଧାରା;
Keywords[pa]=ਸ਼ੈਲ;ਪਰੌਂਟ;ਕਮਾਂਡ;ਕਮਾਂਡ-ਲਾਈਨ;shell;prompt;command;commandline;
Keywords[pl]=powłoka;shell;prompt;polecenie;komenda;wiersz poleceń;linia poleceń;wiersz komend;linia komend;
Keywords[pt]=consola;linha;comando;terminal;
Keywords[pt_BR]=shell;prompt;comando;comandos;linha de comando;
Keywords[ru]=оболочка;строка;команда;командная строка;
Keywords[sk]=shell;výzva;príkaz;príkazový riadok;
Keywords[sl]=lupina;ukaz;ukazna vrstica;terminal;
Keywords[sr@latin]=ljuska;školjka;upit;naredba;komanda;
Keywords[sr]=љуска;шкољка;упит;наредба;команда;
Keywords[ta]=ஷெல்;தூண்டி;கட்டளை;கட்டளை வரி;
Keywords[te]=షెల్;ప్రామ్ట్;కమాండ్;కమాండ్‌లైన్;
Keywords[th]=เชลล์;พรอมต์;คำสั่ง;บรรทัดคำสั่ง;
Keywords[ug]=shell;prompt;command;commandline;shell;كۆرسەتمە;بۇيرۇق;بۇيرۇق قۇرى;
Keywords[uk]=оболочка;комадний;рядок;команда;
Keywords[zh_CN]=shell;prompt;command;commandline;命令;提示符;命令行;
Keywords[zh_HK]=shell;prompt;command;commandline;提示;指令;命令列;
Keywords[zh_TW]=shell;prompt;command;commandline;提示;指令;命令列;
Name=Deepin Terminal
Name[am]=ተርሚናል
Name[ar]=طرفية دييبن
Name[cs]=Terminál
Name[da]=Deepin Terminal
Name[de]=Deepin Terminal
Name[de_DE]=Deepin Terminal
Name[el_GR]=Τερματικό Deepin
Name[en]=Deepin Terminal
Name[es]=Terminal Deepin
Name[es_419]=Terminal Deepin
Name[es_AR]=Terminal Deepin
Name[es_CL]=Terminal Deepin
Name[es_ES]=Terminal Deepin
Name[es_MX]=Terminal Deepin
Name[es_PE]=Terminal Deepin
Name[fi]=Deepin Terminaali
Name[fr]=Terminal de Deepin
Name[he]=מסוף Deepin
Name[hu]=Deepin Terminál
Name[hy]=Deepin Տերմինալ
Name[id]=Deepin Terminal
Name[id_ID]=Terminal Deepin
Name[it]=Deepin Terminal
Name[ja]=ターミナル
Name[ms]=Terminal Deepin
Name[nl]=Deepin Terminal
Name[pl_PL]=Terminal Deepin
Name[pt_BR]=Deepin Terminal
Name[pt_PT]=Terminal Deepin
Name[ro]=Terminalul Deepin
Name[ru]=Терминал Deepin
Name[sk]=Terminál
Name[sl]=Terminal Deepin
Name[sv_SE]=Deepin Terminal
Name[tr]=Deepin Terminal
Name[vi]=Deepin Terminal
Name[zh_CN]=深度终端
Name[zh_HK]=深度終端機
Name[zh_TW]=深度終端機
StartupNotify=true
TryExec=deepin-terminal
Type=Application

[NewQuake Shortcut Group]
Exec=deepin-terminal --quake-mode
Name=New Quake Window
Name[am]=አዲስ የ Quake መስኮት
Name[ar]=نافذة مهتزة جديدة
Name[cs]=Nové okno Quake
Name[da]=Nyt fremhævet vindue
Name[de]=Neues Quake Fenster
Name[de_DE]=Neues Quake Fenster
Name[el_GR]=Νέο παράθυρο σε πλήρη οθόνη
Name[en]=New Quake Window
Name[es]=Nueva Ventana Quake
Name[es_419]=Nueva ventana Quake
Name[es_AR]=Nueva Ventana Quake
Name[es_CL]=Nueva ventana Quake
Name[es_ES]=Nueva Ventana Quake
Name[es_PE]=Nueva ventana 
Name[fi]=Uusi Quake ikkuna
Name[fr]=Nouvelle fenêtre spéciale 
Name[he]=חלון Quake jsa
Name[hu]=Új teljes képernyős ablak 
Name[hy]=Նոր Quake Պատուհան
Name[id_ID]=Halaman Layar Penuh
Name[it]=Nuova finestra con root
Name[ja]=新しい揺れウィンドウ
Name[ms]=Tetingkap Baharu Quake
Name[nl]=Nieuw Quake Venster
Name[pl_PL]=Nowe okno Quake
Name[pt_BR]=Nova Janela Sobreposta
Name[pt_PT]=Nova Janela Quake
Name[ro]=Fereastră nouă Quake
Name[ru]=Новое quake-окно
Name[sk]=Nové okno Quake
Name[sl]=Novo okno Quake
Name[tr]=Yeni Quake Pencere
Name[zh_CN]=新建雷神窗口
Name[zh_TW]=新建雷神模式視窗

[NewWindow Shortcut Group]
Exec=deepin-terminal
Name=New Window
Name[am]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[de_DE]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[el_GR]=Νέο Παράθυρο
Name[en]=New Window
Name[en_GB]=New Window
Name[es]=Nueva Ventana
Name[es_419]=Nueva ventana
Name[es_AR]=Nueva Ventana
Name[es_CL]=Nueva ventana
Name[es_ES]=Nueva Ventana
Name[es_PE]=Nueva ventana
Name[et]=Uus aken
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fil]=New Window
Name[fr]=Nouvelle fenêtre 
Name[gu]=નવી વિંડો
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[hy]=Նոր Պատուհան
Name[id]=Jendela Baru
Name[id_ID]=Jendela baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[kn]=ಹೊಸ ವಿಂಡೊ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ വിന്‍ഡോ
Name[mr]=नवीन विंडो
Name[ms]=Tetingkap Baharu
Name[nl]=Nieuw Venster
Name[no]=Nytt vindu
Name[pl]=Nowe okno
Name[pl_PL]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[pt_PT]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[sw]=Dirisha Jipya
Name[ta]=புதிய சாளரம்
Name[te]=క్రొత్త విండో
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[vi]=Cửa sổ Mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開啟新視窗

