[Desktop Entry]
Categories=GNOME;GTK;DDE;Utility;System;TerminalEmulator;
Comment=Use the command line
Exec=deepin-terminal
GenericName=Terminal
Icon=deepin-terminal
Keywords=shell;prompt;command;commandline;
Name=Deepin Terminal
StartupNotify=true
TryExec=deepin-terminal
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ትእዛዝ መስመር ይጠቀሙ
Comment[ar]=استخدام سطر الأوامر
Comment[ast]=Usa la llinia comandos
Comment[az]=Əmr sətirindən istifadə et
Comment[bg]=Използване на команден ред
Comment[ca]=Useu la línia d'ordres
Comment[cs]=Používejte příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Kommandozeile benutzen
Comment[el]=Χρήση της γραμμής εντολών
Comment[en_AU]=Use the command line
Comment[eo]=Uzi la komandlinio
Comment[es]=Usar la línea de comando
Comment[es_419]=Usar la línea de comandos
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl_ES]=Empregar a liña de comandos
Comment[he]=השתמש בשורת פקודה
Comment[hi_IN]=आदेश रेखा का उपयोग करें
Comment[hr]=Koristi naredbeni redak
Comment[hu]= A parancssor használata
Comment[hy]=Օգտագործել հրամանների տողը
Comment[id]=Gunakan baris perintah
Comment[it]=Usa linea di comando
Comment[ja]=コマンドラインを使用する
Comment[ko]=명령어 사용
Comment[lt]=Naudoti komandų eilutę
Comment[ml]=കമാൻഡ് ലൈൻ ഉപയോഗിക്കുക
Comment[ms]=guna baris perintah
Comment[nb]=Bruk kommandolinjen
Comment[nl]=De opdrachtregel gebruiken
Comment[pam]=Gamitan ing command line
Comment[pl]=Użyj wiersza poleceń
Comment[pt]=Utilize a linha de comandos
Comment[pt_BR]=Usar a linha de comando
Comment[ro]=Utilizare linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sq]=Përdorni rresht urdhrash
Comment[sr]=Користите командну линију
Comment[sv]=Använd kommandoraden
Comment[tr]=Komut satırını kullan
Comment[uk]=Використовувати командний рядок
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用命令列
Comment[zh_TW]=使用命令列介面
GenericName[af]=Terminaal
GenericName[am_ET]=ተርሚናል
GenericName[ar]=الطرفية
GenericName[ast]=Terminal
GenericName[az]=Terminal
GenericName[bg]=Терминал
GenericName[bn]=প্রান্তিক
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_AU]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal 
GenericName[es_419]=Terminal 
GenericName[fa]=ترمینال
GenericName[fi]=Pääte
GenericName[fr]=Terminal
GenericName[gl_ES]=Terminal
GenericName[he]=מסוף
GenericName[hi_IN]=टर्मिनल
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ko]=터미널
GenericName[lt]=Terminalas
GenericName[ml]=ടെർമിനൽ
GenericName[mn]=Терминал
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Abrir Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminalul
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sq]=Terminal
GenericName[sr]=Терминал
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[vi]=Đầu cuối
GenericName[zh_CN]=终端
GenericName[zh_HK]=終端機
GenericName[zh_TW]=終端機
Keywords[ca]=shell;intèrpretd'ordres;ordre;línead'ordres;
Keywords[it]=shell;prompt;command;commandline;
Keywords[lt]=apvalkalas;užklausa;komanda;komandų eilutė;eilutė;komandos;
Keywords[nl]=shell;prompt;opdracht;opdrachtregel;
Keywords[pt_BR]=shell;prompt;command;commandline;
Keywords[ru]=shell;prompt;command;commandline;
Keywords[sk]=shell;prompt;command;commandline;
Keywords[sq]=shell;prompt;command;commandline;
Keywords[tr]=shell;prompt;command;commandline;kabuk;komut;komutsatırı;
Keywords[uk]=shell;prompt;command;commandline;оболонка;запит;команда;командна;рядок;
Keywords[zh_CN]=shell;prompt;command;commandline;
Name[am_ET]=የ ዲፕኢን ተርሚናል
Name[ar]=طرفية ديبين
Name[ast]=Deepin Terminal
Name[az]=Deepin Terminal
Name[bg]=Deepin терминал
Name[ca]=Terminal del Deepin 
Name[cs]=Terminál
Name[da]=Deepin terminal
Name[de]=Deepin Terminal
Name[el]=Deepin Tερματικό
Name[en_AU]=Deepin Terminal
Name[eo]=Deepin terminalo
Name[es]=Terminal Deepin
Name[es_419]=Terminal Deepin
Name[fi]=Deepin-terminaali
Name[fil]=Deepin Terminal
Name[fr]=Deepin Terminal
Name[gl_ES]=Terminal
Name[he]=מסוף Deepin
Name[hi_IN]=डीपइन छोर
Name[hr]=Deepin terminal
Name[hu]=Deepin Terminál
Name[hy]=Deepin Տերմինալ
Name[id]=Terminal Deepin
Name[it]=Deepin Terminal
Name[ja]=Deepin Terminal
Name[ko]=Deepin 터미널
Name[lt]=Deepin terminalas
Name[ml]=ഡീപിൻ ടെർമിനൽ
Name[ms]=Terminal Deepin
Name[nb]=Deepin terminal
Name[nl]=Deepin Terminal
Name[pam]=Deepin Terminal
Name[pl]=Terminal Deepin
Name[pt]=Deepin Terminal
Name[pt_BR]=Terminal Deepin
Name[ro]=Terminalul Deepin
Name[ru]= Терминал Deepin 
Name[sk]=Deepin Terminál
Name[sl]=Terminal Deepin
Name[sq]=Terminali Deepin
Name[sr]=Дипин Терминал
Name[sv]=Deepin-terminal
Name[tr]=Deepin Uçbirim
Name[ug]=Deepin تېرمىنالى
Name[uk]=Термінал Deepin
Name[vi]=Deepin Terminal
Name[zh_CN]=深度终端
Name[zh_HK]=Deepin 終端機
Name[zh_TW]=Deepin Terminal

[NewWindow Shortcut Group]
Exec=deepin-terminal
Name=New Window

# Translations:
# Do not manually modify!
Name[ast]=Ventana nueva
Name[ca]=Finestra nova
Name[fr]=Nouvelle fenêtre
Name[hu]=Új ablak
Name[it]=Nuova finestra
Name[lt]=Naujas langas
Name[nl]=Nieuw venster
Name[pt_BR]=Nova Janela
Name[ru]=Новое Окно
Name[sk]=Nové okno
Name[sq]=Dritare e Re
Name[sr]=Нови прозор
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口

[Quake Shortcut Group]
Exec=deepin-terminal --quake-mode
Name=Quake Terminal

# Translations:
# Do not manually modify!
Name[ast]=Terminal Quake
Name[ca]=Terminal Quake
Name[it]=Terminale in primo piano
Name[lt]=Quake terminalas
Name[nl]=Quake-terminal
Name[pt_BR]=Terminal Quake
Name[ru]=Выпадающий Терминал
Name[sk]=Quake terminál
Name[sq]=Terminal Quake
Name[sr]=Спуштајући терминал
Name[tr]=Quake Uçbirim
Name[uk]=Термінал Quake
Name[zh_CN]=雷神终端

