[Desktop Entry]
Categories=GNOME;GTK;Utility;System;TerminalEmulator;
Comment=Use the command line
Exec=deepin-terminal
Icon=deepin-terminal
Keywords=shell;prompt;command;commandline;
Name=Deepin Terminal
StartupNotify=true
TryExec=deepin-terminal
Type=Application

# Translations
Name[am]=ተርሚናል
Comment[am]=የ ትእዛዝ መስመር ይጠቀሙ
Name[ar]=طرفية دييبن
Comment[ar]=إستعمال سطر الأوامر
Name[az]=Deepin Terminal
Comment[az]=Əmr sətirindən istifadə et
Name[bg]=Терминалът на Deepin
Comment[bg]=Използване на команден ред
Name[cs]=Terminál
Comment[cs]=Používejte příkazový řádek
Name[da]=Deepin Terminal
Comment[da]=Brug kommandolinien
Name[de]=Deepin Terminal
Comment[de]=Kommandozeile benutzen
Name[el]=Τερματικό Deepin
Comment[el]=Χρήση της γραμμής εντολών
Name[es]=Terminal Deepin
Comment[es]=Usar la línea de comando
Name[fi]=Deepin Pääte
Comment[fi]=Käytä komentoriviä
Name[fr]=Terminal Deepin
Comment[fr]=Utiliser la ligne de commande
Name[es_CL]=Terminal Deepin
Comment[es_CL]=Utilice la línea de comandos
Name[he]=מסוף Deepin
Comment[he]=השתמש בשורת פקודה
Name[hr]=Deepin terminal
Comment[hr]=Koristi naredbeni redak
Name[hu]=Deepin Terminál
Comment[hu]= A parancssor használata
Name[hy]=Deepin Տերմինալ
Comment[hy]=Օգտագործել հրամանների տողը
Name[id]=Terminal Deepin
Comment[id]=Gunakan baris perintah
Name[it]=Deepin Terminal
Comment[it]=Usa linea di comando
Name[ja]=ターミナル
Comment[ja]=コマンドラインを使用する
Name[es_PE]=Terminal Deepin
Comment[es_PE]=Utilice la línea de comandos
Name[pam]=Deepin Terminal
Comment[pam]=Gamitan ing command line
Name[ms]=Terminal Deepin
Comment[ms]=gunakan garis perintah
Name[nl]=Deepin Terminal
Comment[nl]=De opdrachtprompt gebruiken
Name[es_419]=Terminal Deepin
Comment[es_419]=Usar la linea de comandos
Name[pl]=Terminal Deepin
Comment[pl]=Użyj wiersza poleceń
Name[pt]=Terminal Deepin
Comment[pt]=Usar a linha de comandos
Name[pt_BR]=Deepin Terminal
Comment[pt_BR]=Usar a linha de comando
Name[ro]=Terminalul Deepin
Comment[ro]=Utilizare linia de comandă
Name[ru]=Терминал Deepin 
Comment[ru]=Использовать командную строку
Name[nl_NL]=Deepin Terminal
Comment[nl_NL]=De commandoregel gebruiken
Name[sk]=Deepin Terminál
Comment[sk]=Použiť príkazový riadok
Name[sl]=Terminal Deepin
Comment[sl]=Uporabi ukazno vrstico
Name[tr]=Deepin Uçbirim
Comment[tr]=Komut satırı kullan
Name[uk]=Термінал Deepin
Name[vi]=Deepin Terminal
Name[zh_CN]=深度终端
Comment[zh_CN]=使用命令行
Name[zh_HK]=深度終端機
Comment[zh_HK]=使用命令列
Name[zh_TW]=深度終端機
Comment[zh_TW]=使用命令列介面
Name[es_AR]=Terminal Deepin
Comment[es_AR]=Usar linea de comandos
Name[es_MX]=Terminal Deepin
Name[en_AU]=Deepin Terminal
Comment[en_AU]=Use the command line
Name[es_ES]=Terminal Deepin
Comment[es_ES]=Usar linea de comandos
Name[sv_SE]=Deepin Terminal

[NewWindow Shortcut Group]
Exec=deepin-terminal
Name=New Window
Name[am]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en]=New Window
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fil]=New Window
Name[fr]=Nouvelle fenêtre 
Name[gu]=નવી વિંડો
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[iw]=חלון חדש
Name[ja]=新規ウインドウ
Name[kn]=ಹೊಸ ವಿಂಡೊ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ വിന്‍ഡോ
Name[mr]=नवीन विंडो
Name[nl]=Nieuw venster
Name[no]=Nytt vindu
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[sw]=Dirisha Jipya
Name[ta]=புதிய சாளரம்
Name[te]=క్రొత్త విండో
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[vi]=Cửa sổ Mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開啟新視窗

[Quake Shortcut Group]
Exec=deepin-terminal --quake-mode
Name=Quake Terminal
Name[en]=Quake Terminal
Name[zh_CN]=雷神终端

