GtkWindow.background,
GtkWindow.background:backdrop {
    background-color: transparent;
}

GtkWindow .scrollbars-junction,
GtkWindow .scrollbar.trough,
GtkWindow .scrollbars-junction.frame,
GtkWindow .frame.scrollbar.trough,
GtkWindow .scrollbars-junction:backdrop, 
GtkWindow .scrollbar.trough:backdrop,
GtkWindow .scrollbars-junction.frame:backdrop,
GtkWindow .frame.scrollbar.trough:backdrop {
  background-color: rgba(39,40,34,.95); /*match scroll gutter to the bg set previously*/
  border:none;
}

GtkEntry {
    color: grey;
	background: #272822;
	border-color: #393937;
}

GtkEntry:focus {
    color: grey;
	background: #272822;
	border-color: #393937;
}

GtkEntry:selected {
    color: #272822;
	background: grey;
}

.window_shadow_active{
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
}

.window_shadow_inactive{
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.08);
}
