#!/usr/bin/make -f
%:
	dh $@ 

VERSION ?= $(shell dpkg-parsechangelog -SVersion | awk -F'[+-]' '{print $$1}')
override_dh_auto_configure:
	cmake -DVERSION=${VERSION} -DCMAKE_INSTALL_PREFIX=/usr -DTEST_BUILD=OFF .

override_dh_clean:
	rm -fr CMakeFiles CMakeCache.txt cmake_install.cmake install_manifest.txt Makefile project_path.c || true
	dh_clean
