#!/usr/bin/make -f
%:
	dh $@ 

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX=/usr -DTEST_BUILD=OFF .

override_dh_clean:
	rm -fr CMakeFiles CMakeCache.txt cmake_install.cmake install_manifest.txt Makefile project_path.c || true
	dh_clean
